*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: Poppins;
  font-size: 16px;
  color: #22356f;
}

/* =============================== */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* =============================== */

.page {
  flex: 1 1 auto;
}

/* =============================== */

[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (max-width: 1439.98px) {
  [class*="__container"] {
    max-width: 970px;
  }
}
@media (max-width: 990.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
    padding: 0 15px;
  }
}

/* =============================== */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__container {
  padding-left: 150px;
  background-color: #f4f9e2;
  min-height: 100px;
  display: flex;
  row-gap: 15px;
  column-gap: 10px;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .header__container {
    min-height: 0;
    flex-direction: column;
  }
}

.header__logo {
  font-weight: 480;
  font-size: 24px;
  color: #62d0df;
}

.header__menu {
  position: relative;
  z-index: 1;
}

/* =============================== */
.menu {
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 46px;
  row-gap: 5px;
}

.menu__item {
  position: relative;
}

.button_blue {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  margin-right: 95px;
  background: #62d0df;
  border-radius: 50px;
  color: white;
  transition: background-color 0.3s ease 0s;
  z-index: 3;
}

.menu__link {
  font-size: 14px;
  color: #050d25;
}

@media (max-width: 767.98px) {
  .menu__list {
    justify-content: center;
  }
}

/* =============================== */

.who-am-i {

}

.who-am-i__wrapper__container {
  background-color: #f4f9e2;
  padding-bottom: 115px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.who-am-i__text {
  padding-left: 150px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.block-text__logo {
  font-weight: 600;
  padding-bottom: 55px;
  color: #62d0df;
  font-size: 24px;
}

.block-text__title {
  max-width: 490px;
  padding-bottom: 80px;
  font-weight: 550;
  font-size: 48px;
  color: #22356f;
}

.block-text__text {
  line-height: normal;
  max-width: 500px;
  padding-bottom: 65px;
  color: #22356f;
  font-size: 24px;
}

.btn__holder {
}

.block-text__button {
  font-weight: 500;
  padding: 15px 40px;
  color: #fab63e;
  font-size: 16px;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: #f9b640;
  color: white;
}

.who-am-i__img-holder-2 img {
  max-width: 100%;
  position: absolute;
  top: 0;
  right: 226px;
  z-index: 1;
}

.who-am-i__img-holder img {
  max-width: 100%;
  position: absolute;
  top: 0;
  right: 226px;
  z-index: 2;
}



.active::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  bottom: -10px;
  background-color: #050d25;
}

/* =============================== */

.why-thrive {

}

.why-thrive__wrapper__container {
  background-color: #62d0df;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap;
  justify-content: space-between; */
}

.why-thrive__text-block {
  padding-left: 150px;
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.why-thrive__title {
  max-width: 500px;
  padding-top: 90px;
  padding-bottom: 85px;
  font-size: 36px;
  color: white;
}

.why-thrive__text {
  max-width: 550px;
  font-size: 24px;
  line-height: normal;
  color: white;
  padding-bottom: 75px;
}

.why-thrive__img-holder img {
  max-width: 100%;
  margin-left: 213px;
}

/* =============================== */

.about-us {
}

.about-us__wrapper__container {
}

.about-us_text-block {
  color: #22356f;
}

.about-us-center-text {
  line-height: normal;
  padding-top: 120px;
  padding-bottom: 80px;
  max-width: 660px;
  margin: 0 auto;
  justify-content: center;
  font-size: 24px;
}

.about-us-bottom-text {
  margin-left: 760px;
  margin-bottom: 50px;
  color: hsla(225, 53%, 28%, 0.5);
}

.about-us_list-block {
  margin-bottom: 120px;
}

.about-us-list {
  display: flex;
}

.about-us-list li {
  font-size: 25px;
  display: block;
  width: 25%;
  height: 320px;
}
.about-us-item_1 {
  position: relative;
  background-image: url(./src/images/Mask\ Group2.png);
  color: white;
  background-color: #ffe2de;
}

.about-us-item_1 span,
h1 {
  position: relative;
  z-index: 4;
}

.about-us-item_2 {
  color: white;
  background-color: #c4e769;
}

.about-us-item_3 {
  color: white;
  background-color: #62d0df;
}

.about-us-item_4 {
  color: white;
  background-color: #0052c1;
}

.dot {
  margin-left: 60px;
  color: orange;
  font-size: 50px;
}

h1 {
  margin: 50px;
  border: 1px solid white;
}

.active-2:hover {
  background-image: url(./src/images/Mask\ Group2.png);
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: #ffe2de;
  transition: 0.3s;
}
.mask:hover {
  opacity: 0;
}
/* =============================== */

.services {
}

.services__wrapper__container {
}

.services_list {
  display: flex;
  flex-wrap: wrap;
}

.services_list li {
  font-weight: 200px;
  font-size: 25px;
  display: block;
  width: 33.33%;
  height: 380px;
}

.services_item_1 {
  background-color: #22356f;
  color: white;
}

.services_item_2 {
  background-color: #0052c1;
  color: white;
}

.services_item_3 {
  background-color: #ffe2de;
  color: white;
}

.services_item_4 {
  background-color: #62d0df;
  color: white;
}

.services_item_5 {
  background-color: #dee1ff;
  color: white;
}

.services_item_6 {
  background-color: #8f00ff;
  color: white;
}

.services_list_text {
  display: flex;
  flex-wrap: wrap;
}

.services_list_text li {
  padding-top: 50px;
  padding-bottom: 300px;
  font-weight: 200px;
  line-height: normal;
  font-size: 16px;
  display: block;
  width: 33.33%;
  height: 240px;
  max-width: 450px;
  margin: 0 auto;
  justify-content: center;
}

.services_list_text_titles {
  margin: 45px;
  text-align: center;
  font-size: 28px;
}

.services_text_item_1 {
  padding-right: 25px;
  padding-left: 25px;
  margin: 45px;
  text-align: center;
}

.services_text_item_2 {
  padding-right: 25px;
  padding-left: 25px;
  margin: 45px;
  text-align: center;
}

.services_text_item_3 {
  padding-right: 25px;
  padding-left: 25px;
  margin: 45px;
  text-align: center;
}

.services_text_item_4 {
  padding-right: 25px;
  padding-left: 25px;
  margin: 45px;
  text-align: center;
}

.services_text_item_5 {
  padding-right: 25px;
  padding-left: 25px;
  margin: 45px;
  text-align: center;
}

.services_text_item_6 {
  padding-right: 25px;
  padding-left: 25px;
  margin: 45px;
  text-align: center;
}

/* =============================== */

.you-should-know {
}

.you-should-know__wrapper__container {
  display: flex;
}

.you-should-know-picture {
}

.you-should-know-text {
}

.you-should-know-title-text {
  margin: 70px;
  font-size: 16px;
  margin-left: 100px;
}

.you-should-know-block-text {
  line-height: normal;
  margin: 70px;
  font-weight: 500;
  font-size: 36px;
  color: #22356f;
  margin-left: 100px;
  padding-top: 150px;
}

.blue-text {
  color: #62d0df;
}

.you-should-know-button {
  padding-top: 120px;
  margin-left: 50px;
  color: #f9b640;
}

/* =============================== */

.contact-us-block {
}

.contact-us-block__wrapper__container {
  display: flex;
}

.contact-us-block-text {
  padding-right: 300px;
  background-color: #22356f;
  color: white;
}

.contact-us-block-text-title-1 {
  margin-left: 120px;
  margin-top: 90px;
  margin-bottom: 130px;
  font-size: 16px;
}

.contact-us-block-text-title-2 {
  margin-bottom: 60px;
  margin-left: 120px;
  font-size: 64px;
}

.contact-us-block-text-title-3 {
  line-height: normal;
  margin-bottom: 100px;
  font-size: 36px;
  margin-left: 120px;
  max-width: 600px;
}

.contact-us-block-text-button {
}

.contact-us-block-text-cean-button {
  margin-left: 120px;
  font-size: 16px;
  color: #62d0df;
}

.contact-us-block-picture {

}
/* =============================== */

@media (max-width: 768px) {
  .why-thrive__img-holder img {
    display: none;
  }
}

@media (max-width: 768px) {
  .who-am-i__img-holder img {
    display: none;
  }
}

@media (max-width: 768px) {
  .you-should-know-picture {
    display: none;
  }
}

@media (max-width: 768px) {
  .contact-us-block-picture {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer_picture_holder {
    display: none;
  }
}

/* =============================== */

.footer {
}

.footer__container {
  display: flex;
}

.footer_picture_holder {
}

.futer_info {

}

.fotter_info_text {
  padding-left: 90px;

  padding-top: 75px;
  line-height: normal;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.footer_some-info {
  display: block;
  font-size: 14px;
  flex: 0 1 33%;
}





.footer_some-info-title {
  padding-bottom: 50px;
  display: block;
  font-size: 16px;
  font-weight: 550;
}

.footer_copyright__container {
  font-size: 14px;
  color: white;
}

.footer_copyright_1 {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 200px;
  background-color: #62d0df;
}
/* =============================== */


/* font-weight: 200px;
  line-height: normal;
  font-size: 16px;
  display: block;
  width: 33.33%;
  height: 240px;
  max-width: 450px;
  margin: 0 auto;
  justify-content: center; */