*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: Poppins;
  font-size: 16px;
  color: #22356f;
}

/* =============================== */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* =============================== */

.page {
  flex: 1 1 auto;
}

/* =============================== */

[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1439.98px) {
  [class*="__container"] {
    max-width: 970px;
  }
}
@media (max-width: 990.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
    padding: 0 15px;
  }
}

/* =============================== */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__container {
  min-height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  row-gap: 15px;
  column-gap: 10px;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .header__container {
    min-height: 0;
    flex-direction: column;
  }
}

.header__logo {
  font-weight: 480;
  font-size: 24px;
  color: #62d0df;
}

.header__menu {
}

/* =============================== */
.menu {
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 46px;
  row-gap: 5px;
}

.menu__item {
}

.button_blue {
  display: inline-block;
  padding: 15px 20px;
  background: #62d0df;
  border-radius: 50px;
  color: white;
  transition: background-color 0.3s ease 0s;
}

.menu__link {
  font-size: 14px;
  color: #050d25;
}

.menu__link:hover {
  text-decoration: underline;
}

@media (max-width: 767.98px) {
  .menu__list {
    justify-content: center;
  }
}

/* =============================== */

.who-am-i {
  background-color: #f4f9e2;
  padding: 150px 0px 50px 0px;
}

.who-am-i__container {
  /* position: relative; */
}

.who-am-i__content {
  flex: 0 1 50%;
}

.block-text {
}

.block-text__logo {
  color: #62d0df;
  font-size: 24px;
}

.block-text__title {
  font-weight: 550;
  font-size: 48px;
  color: #22356f;
}

.block-text__text {
  color: #22356f;
  font-size: 24px;
}

.block-text__button {
  color: #fab63e;
  font-size: 16px;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: #f9b640;
  color: white;
}

.button {
}
.who-am-i__wrapper {
  display: flex;
}
.who-am-i__text {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.who-am-i__image {
  flex: 0 1 50%;
  /* position: relative;
  right: 0;

  width: 800px;
  height: 500px;
  z-index: 5 ; */
}

/* =============================== */
